.shop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  overflow-y: hidden;
}
.startPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
  gap: 2rem;
  width: 65%;
  height: 100%;
}
.startPageFull {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;
  width: 100%;
  height: 100%;
}
.shop-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.shop-header > h1 {
  color: var(--light-colors-black-light, #000);

  font-family: DM Sans;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
}
.shop-header > a {
  color: var(--light-colors-accent-light, #a18a68);

  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
}
.shopItem {
  width: 28%;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
  gap: 1rem;
  animation: changSize 0.8s 1 forwards;
}

.shopItem > img {
  width: 100%;

  border-radius: 10px;
}

.shopItem > h3 {
  color: #000;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; 
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.shopItem > p {
  color: var(--light-colors-accent-light, #a18a68);

  
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; 
  text-transform: capitalize;
}

.hover-button > button {
  width: 100%;
  position: absolute;
  bottom: 100px;
  border-radius: 4px 4px 0px 0px;
  background: rgba(255, 255, 255, 0.5);
  height: 65px;
  flex-shrink: 0;
  border: none;
  color: var(--light-colors-black-light, #000);

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  z-index: 5;
}
.hover-buttonFull > button {
  display: none;
}
.hover-icon {

 display: none; 
}
.hover-iconFull {
  position: absolute;
  top: 170px;
  place-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 5;
  
}
.shopItem > img:hover {
  opacity: .3;
  overflow: hidden;
}
@keyframes changSize {
  0% {
    transform: scale(.98);
  
  }
  100% {
    transform: scale(1);
    
  }
}
